body {

    background: linear-gradient(180deg, #000E23 0%, #0C0C4A 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0px;
}

.wrapper {

    position       : relative;
    display        : flex;
    justify-content: flex-end;
}

.top
{
    margin-top: 100px;
}


.back1 {

    position: absolute;
    z-index : -1;

}
.back1z
{
    width: 50vw;
}
.computer
{
    width: 77vw;
}

.back2 {
    position: absolute;
    z-index : 0;


}


.back4 {
    

    margin-top: 404px;


}

.button {
    margin-top: 20px;
}

h1 {
    margin: 0;
}

.left {
    margin-left: 150px;
}

.gridblock {
margin-top: 180px;
    display              : grid;
    justify-content      : center;
    grid-template-columns: repeat(4, 355px);


}
.block
{
    
    display: flex;
    justify-content: flex-end;
}

.block5
{
    
   display: flex;
   justify-content: center;
}

.end
{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}



.heart,.zeus,.locker,.people,.password
{
    position: absolute;
padding-top: 20px;
padding-right: 13px;
}

.free1
{
    position: absolute;
    padding-right: 110px;
}
.free2
{
    position: absolute;
    padding-right: 165px;
}
.free3
{
    position: absolute;
    padding-right: 230px;
}
.free4
{
    position: absolute;
    padding-right: 130px;
}

.free5
{
    position: absolute;
    padding-right: 180px; 
}



.para1
{
    position: absolute;
    margin-top: 90px;
    margin-right: 30px;
}
.para2
{
    position: absolute;
    margin-top: 90px;
    margin-right: 30px;
}
.para3
{
    position: absolute;
    margin-top: 90px;
    margin-right: 55px;
}
.para4
{
    position: absolute;
    margin-top: 90px;
    margin-right: 30px;
}
.para5
{
    position: absolute;
    margin-top: 90px;
    margin-right: 95px;
}

.Grid
{
   display: grid;
   justify-content: space-evenly;
    grid-template-columns: repeat(2, 700px);
    justify-items: center;
    position: relative;
}

.catalog1
{
    width: 37vw;
   position: relative;
   

}
.padding
{
padding-left: 11vw ;

}

.padding1
{
padding-inline: 11vw ;
}


.grid-catalog-1
{
display: grid;
grid-auto-rows: minmax(100px, auto);
position: relative;


}