body {

    background: linear-gradient(180deg, #000E23 0%, #0C0C4A 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin    : 0px;
    height    : 100%;
}



.button {
    margin-top: 20px;
}


h1 {
    margin: 0;
}

.left {
    margin-left: 150px;
}

.gridblock {
    margin-top           : 180px;
    display              : grid;
    justify-content      : center;
    grid-template-columns: repeat(4, 19vw);
    grid-column-gap      : 60px;

}

.block {

    display       : flex;
    flex-direction: column;
    background    : linear-gradient(180deg, #051B3E 0%, #093663 100%);
    border-radius : 15px;
    width         : 21vw;

}


.flex4 {

    display        : flex;
    justify-content: space-between;
    align-items    : center;
    padding-inline : 6%;
}

.flex-center {
    margin-top     : 20px;
    display        : flex;
    justify-content: center;
}



.para1 {
    text-align    : start;
    padding-inline: 6%;
}

.block5 {

    display       : flex;
    flex-direction: column;
    background    : linear-gradient(180deg, #051B3E 0%, #093663 100%);
    border-radius : 15px;
    width         : 21vw;
}





.end {
    margin-top     : 20px;
    display        : flex;
    justify-content: flex-end;
}







.free2 {
    position     : absolute;
    padding-right: 165px;
}

.free3 {
    position     : absolute;
    padding-right: 230px;
}

.free4 {
    position     : absolute;
    padding-right: 130px;
}

.free5 {
    position     : absolute;
    padding-right: 180px;
}



.Grid {
    display              : grid;
    grid-template-columns: repeat(2, 700px);
    justify-content      : space-evenly;
    justify-items        : center;
    align-items          : start;
    border-radius        : 15px;

}

.grid {
    margin-top   : 8%;
    margin-right : 8%;
    display      : grid;
    justify-items: end;

    align-items: end;
}

.grid-catalog-1 {
    display           : grid;
    grid-template-rows: repeat(12, 90px);
    width             : 36vw;
    padding-left      : 20px;
    margin-bottom     : 22px;

}

.grid-catalog-2 {
    display           : grid;
    grid-template-rows: repeat(7, 90px);
    width             : 36vw;
    padding-left      : 20px;
    margin-bottom     : 22px;

}

.grid-catalog-3 {
    display           : grid;
    grid-template-rows: repeat(3, 90px);
    width             : 36vw;
    padding-left      : 20px;
    margin-bottom     : 22px;

}

.grid-catalog-4 {
    display           : grid;
    grid-template-rows: repeat(2, 90px);
    width             : 36vw;
    padding-left      : 20px;
    margin-bottom     : 22px;

}

.gradient {
    background   : linear-gradient(180deg, #051B3E 0%, #093663 100%);
    border-radius: 15px;
}

.padding {
    padding-inline: 13vw;
}

.padding1 {
    padding-inline: 11vw;
}



.flex1 {
    align-items       : center;
    justify-content   : space-between;
    display           : flex;
    padding-inline-end: 6%;
}

.flex2 {
    display    : flex;
    align-items: center;
}


.zaebalo {
    display       : flex;
    flex-direction: column;


}

hr {
    width: 34vw;

}

.margin-left {
    margin     : 0;
    margin-left: 5px;
}


.faq {
    margin-top: 70px;
}

.FAQ {
    position: relative;
}

.rama-faq {
    background   : linear-gradient(90deg, #282A57 11.98%, rgba(0, 165, 255, 0) 100%);
    border-radius: 15px;
    width        : 73vw;

    border-style: inset;
    border-color: #05CCFF;
}

.Grid_faq {
    display              : grid;
    grid-template-columns: 97%;

}

.Grid_faq_back {
    background   : linear-gradient(90deg, #030E2B 0%, #093866 100%);
    border-radius: 10px;
}


.margin-left-20 {
    margin-block: 15px;
    margin-left : 20px;
}

.margin-left-10 {
    margin-block: 15px;
    margin-left : 10px;
}


.main {
    position      : relative;
    padding-top   : 100px;
    padding-bottom: 40px;
}

html {
    scroll-behavior: smooth;
}


/** Раздвигающиеся менюшки */
.more-section {
    display: block;
}

.hidden {
    display: none;
}